*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.slider-container {
    width: 100vw;
    position: relative;
    height: 85vh; 
}
.slider-box {
    display: flex;
    transition: transform 0.5s;
}
.slider-img {
    flex: 0 0 100vw; 
    display: flex;
    justify-content: center;
}
.slider-img img {
    height: 85vh;
    width: 80vw;
    object-fit: cover;
    border-radius: 50px;
}
.move {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    font-size: 50px;
    padding-inline: 130px;
}
.move .btn {
    background-color: rgb(51, 57, 212);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}