* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #1e1a2b;
}
.card-box {
    max-width: 1400px;
    padding-inline: 20px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-block: 100px;
    flex-wrap: wrap;
    width: 100%;
}
.card-box div {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 17px;
    border-radius: 20px;
}
.card-box div img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.card-part .card-text p {
    color: #B0BEC5;
    line-height: 26px;
}
.card-box .card-part button {
    height: 45px;
    width: 100%;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 15px #eee;
    border-radius: 26px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(to right, #6441A5 0%, #2a0845  51%, #6441A5  100%)
}
.card-box .card-part button:hover {
    background-position: right center; 
    color: #fff;
    box-shadow: 0 0 15px #b962ff;
}   
@media (max-width: 1390px) {
    .card-box div {
        width: 310px;
    }
}     
@media (max-width: 480px) {
    .card-box div{
        width: 100%;
    }
}   